.titleBox hr{
    border: 0.1px solid gray;
    background-color: rgb(42, 66, 108);
    width: 100%;
}

.titleBox{
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(164, 164, 147);
    background-color: white;
    border-bottom: 3px solid rgb(113, 116, 97);
}

.titleText{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    margin: 1px;
    padding: 5px;
}

.titleBlue{
    margin: 5px;
    color: rgb(42, 66, 108);
}


.titleBlack{
    margin: 5px;
    color: white;
    color: rgb(40, 40, 40);
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.vr{
    width: 15px;
    height: 65%;
    background-color: rgb(42, 66, 108);
    margin-left: 15px;
    box-shadow: none;
}

.logo{
    padding: 5px;
    margin: 0 0 0 5%;
    border-radius: 5px;
    border: 3px solid rgb(42, 66, 108);
    width: 50px;
}

@media only screen and (max-width: 1000px) {

    .titleBlue{
        font-size: 30px;
        margin-right: 0;
    }

    .titleBlack{
        font-size: 30px;
    }

    .titleBox{
        border-bottom: none;
        background-color: transparent;
    }

}